<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.6.6" targetFramework="net48" />
  <package id="Bve5_Parsing.OpenBVE" version="1.2.2" targetFramework="net48" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net48" version="1.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Ude.NetStandard" version="1.2.0" targetFramework="net48" />
</packages>