# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true
indent_style = tab
indent_size = 4
tab_width = 4

[*.cs]
csharp_preserve_single_line_blocks = false

[*.yml]
indent_style = space
indent_size = 2
