# git ignore file

# User specific settings
*.userprefs
*.DotSettings.user
*.suo
.vs/

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
bin_debug/
bin_release/
obj/

# Misc. Visual Studio files
*.sdf
*.opendb

*.resources

#InnoSetup Output Folder
[Oo]utput/
