# This YAML runs the stable release upload builds
trigger:
  tags:
    include:
      - '*'
      - 1.*
  branches:
    exclude:
      - '*'

pr: none

### Test on latest Windows and .Net version

jobs:
- job: WindowsBuild
  displayName: 'Build on Windows (sln)'
  pool:
    vmImage: 'windows-2019'

  variables:
    solution: 'OpenBVE.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'

  steps:
  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    inputs:
      restoreSolution: '$(solution)'

  - task: VSBuild@1
    inputs:
      solution: '$(solution)'
      platform: '$(buildPlatform)'
      configuration: '$(buildConfiguration)'
  - task: PowerShell@2
    inputs:
      filePath: $(Pipeline.Workspace)/s/WindowsInstaller.ps1
      arguments: $(git describe --tags)
  - task: CopyFilesOverSSH@0
    inputs:
     sshEndpoint: 'BuildServer'
     sourceFolder: $(Pipeline.Workspace)/s/installers/Windows/Output
     contents: /*.exe
     targetFolder: '/var/www/vps.bvecornwall.co.uk/public/OpenBVE/Stable/'
     overwrite: true
     readyTimeout: 90000

- job: AppleMakeBuild
  displayName: 'Build on Apple OS-X (makefile)'
  pool:
    vmImage: 'macos-11'

  variables:
    solution: 'OpenBVE.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'

  steps:
  - task: NuGetToolInstaller@1
  - script: make publish 
  - task: CopyFilesOverSSH@0
    inputs:
     sshEndpoint: 'BuildServer'
     sourceFolder: $(Pipeline.Workspace)/s/
     contents: /*.dmg
     targetFolder: '/var/www/vps.bvecornwall.co.uk/public/OpenBVE/Stable/'
     overwrite: true
     readyTimeout: 90000

### Linux makefile build
### This runs on the latest Mono version installed

- job: LinuxMakeBuild
  displayName: 'Build on Linux (makefile)'
  pool:
    vmImage: 'ubuntu-20.04'

  variables:
    solution: 'OpenBVE.sln'
    buildPlatform: 'Any CPU'
    buildConfiguration: 'Release'

  steps:
  - task: NuGetToolInstaller@1
  - script: make publish 
  - task: CopyFilesOverSSH@0
    inputs:
     sshEndpoint: 'BuildServer'
     sourceFolder: $(Pipeline.Workspace)/s/
     contents: /*.zip
     targetFolder: '/var/www/vps.bvecornwall.co.uk/public/OpenBVE/Stable/'
     overwrite: true
     readyTimeout: 90000