<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK.GLControl-OpenBVE" version="1.0.1" targetFramework="net472" />
  <package id="OpenTK-OpenBVE" version="1.0.4" targetFramework="net472" />
  <package id="ReactiveProperty" version="9.7.0" targetFramework="net472" />
  <package id="ReactiveProperty.Core" version="9.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Reactive" version="6.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>